body {
    margin: 0;
    background-color: gray;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

h3 {
  margin-left: 395px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: white;
}

.h6 {
    font-size: .75 rem;
}

div {
  text-align: center;
}

.box {
    background: lightblue;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    box-shadow: 5px 10px;
 }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.week4 {
    background: lightblue;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    box-shadow: 5px 10px;
}

.week5 {
    background: lightblue;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
    box-shadow: 5px 10px;
}

#week5 {
    margin: 16px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: lightblue;
    padding: 10px;
    margin: 5px;
    width: 920px;
    border: 2px solid black;
    box-shadow: 5px 10px;
 }

.nightsky {
   background-image: url("https://media1.picsearch.com/is?NIJiVIY9Ooar_jrAdeFzw2CbYpFrxKMOwL8QWKgAcwA&height=213");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    height: 400px;
 }

@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .grid2 
  .flex {
    width: 920px;
    grid-template-columns: repeat(3, 1fr);
  }
}

#nightsky2 {
   background-image: url("https://media1.picsearch.com/is?NIJiVIY9Ooar_jrAdeFzw2CbYpFrxKMOwL8QWKgAcwA&height=213");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    height: 400px;
    width: 925px;
    margin: 5px;
}

 sticky-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 10px;
}